// Color
$color-primary: #f582ae;
$color-secondary: #8bd3dd;
$color-primary-background: #fef6e4;
$color-secondary-background: #f3d2c1;
$color-primary-text: #001858;
$color-secondary-text: #172c66;

// Text
$base-font-size: 18px;
$font-size-big: $base-font-size * 1.5;
$font-size-huge: $base-font-size * 2;
$font-size-colossal: $base-font-size * 3;

// Spacing
$base-margin: 0.3rem;
$base-padding: 1rem 1.5rem;
$base-border-radius: 0.2rem;
$base-line-height: 1.5;

// Animation
$base-transition: 300ms;
